<div class="profile-button">
  <img
    class="profile-button__img"
    alt="profile image"
    style="display: 'none'"
  />
  <div class="profile-button__text"></div>
  <div class="profile-button__icon">
    <svg width="20px" height="20px" class="profile-button__icon-down">
      <use href="./img/symbol-defs.svg#icon-caret-down"></use>
    </svg>
    <svg width="20px" height="20px" class="profile-button__icon-right">
      <use href="./img/symbol-defs.svg#icon-arrow-narrow-right"></use>
    </svg>
  </div>
</div>
