<div class="profile">
  <button class="profile-button">
    <img class="profile-button__img is-hidden" src="#" alt="profile image" />
    <span class="profile-button__text">Sign up</span>
    <span class="profile-button__icon">
      <svg
        width="20px"
        height="20px"
        class="profile-button__icon-down is-hidden"
      >
        <use href="./img/symbol-defs.svg#icon-caret-down"></use>
      </svg>
      <svg width="20px" height="20px" class="profile-button__icon-right">
        <use href="./img/symbol-defs.svg#icon-arrow-narrow-right"></use>
      </svg>
    </span>
  </button>
  <div class="profile-dropdown-menu is-hidden">
    <div class="profile-dropdown-menu__logout">
      <div class="profile-dropdown-menu__logout-text">Log out</div>
      <div class="profile-dropdown-menu__logout-icon">
        <svg width="20px" height="20px" class="profile-button__icon-down">
          <use href="./img/symbol-defs.svg#icon-arrow-narrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</div>
