<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/categories.css">
    <title>categories-2</title>
</head>

<body>
    <div class="categories-2 container">
          <ul class="categories-list">
            <h1 class="categories-title">All Categories</h1>
            <li class="categories-el">
                test-1
            </li>
            <li class="categories-el">
                test-2
            </li>
            <li class="categories-el">
                test-3
            </li>
        </ul>
    </div>

</body>