<footer class="site-footer">
    <div class="container-one">
      
        <div class="col-sm-12 col-md-6">
          <h6>About Us</h6>
          <p class="text-justify">Welcome to Bookshelf, your go-to destination for books! We're passionate about providing an exceptional online bookstore experience. Discover a diverse selection of high-quality books, from classics to bestsellers. Enjoy a user-friendly interface, secure shopping, and worldwide shipping. Join our vibrant community of book lovers today! Happy reading!</p>
        </div>
        <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/category/c-language/">Picture Books</a></li>
              <li><a href="http://scanfcode.com/category/front-end-development/">Series Books</a></li>
              <li><a href="http://scanfcode.com/category/back-end-development/">Business Books</a></li>
              <li><a href="http://scanfcode.com/category/java-programming-language/">Audio Fiction</a></li>
              <li><a href="http://scanfcode.com/category/android/">Other</a></li>
            </ul>
          </div>

     

        <div class="col-xs-6 col-md-3">
          <h6> Links</h6>
          <ul class="footer-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Contribute</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Home</a></li>
          </ul>
        </div>
      
      <hr>
    </div>
    <div class="container-02">
     
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
       <a href="#">Bookshelf</a>.
          </p>
        </div>
      

        
     
    </div>
</footer>