<div class="header-container">
    <div class="logo">
    <svg  id="logo-light">
      <use href="./img/symbol-defs.svg#icon-logo-light"></use>
    </svg>
    <svg id="logo-dark" class="visually-hidden">
      <use href="./img/symbol-defs.svg#icon-logo-dark"></use>
    </svg>
</div>
<ul class="header-nav">
  <li class="header-nav-item-home"><a href="#" class="header-home-link">HOME</a></li>
  <li class="header-nav-item-shopping-list"><a href="#"class="header-shopping-list-link">SHOPPING LIST 
    <svg width="20px" height="20px">
      <use href="./img/symbol-defs.svg#icon-bag"></use>
    </svg>
  </a></li>
</ul>
<div class="header-wrap">
    <div class="theme-switcher">
    </div>
    <button class="mob-menu-open" data-menu-open>
        <svg>
            <use href="./img/symbol-defs.svg#icon-burger"></use>
        </svg>
        </div>
    </button>
    <button class="mob-menu-close visually-hidden" data-menu-close>
      <svg width="28px" height="28px"  class="mob-menu-close-icon">
          <use href="./img/symbol-defs.svg#icon-x-close"></use>
      </svg></button>
    <button type="button" class="sign-up-btn">
      <svg class="user-photo" width="37px"
      height="37px">
        <use href="./img/symbol-defs.svg#icon-user"></use>
    </svg>       
      <span class="username">User</span>
    </button>
</div>
<div class="mob-menu visually-hidden">
    <div class="mob-menu-wrap">
        <div class="user-profile">
          <button class="mob-menu-sign-up-btn">
        <svg class="user-photo" width="37px"
        height="37px">
            <use href="./img/symbol-defs.svg#icon-user"></use>
        </svg>
  <span class="username">User</span></button>
</div>
  <ul class="mob-menu-nav">
    <li class="mob-menu-nav-item-home"><a href="" class="mob-menu-home-link">HOME</a></li>
    <li class="mob-menu-nav-item-shopping-list"><a href=""class="mob-menu-shopping-list-link">SHOPPING LIST
      <svg width="20px" height="20px">
        <use href="./img/symbol-defs.svg#icon-bag"></use>
      </svg> </a></li>
  </ul>
</div>
<button type="button" class="mob-menu-log-out-btn">Log Out
  <svg>
    <use href="./img/symbol-defs.svg#icon-arrow-narrow-right"></use>
  </svg>
</button>
<img src="./img/mob-img/menu@1x.png" srcset="./img/mob-img/menu@1x.png 1x,./img/mob-img/menu@2x.png 2x" alt="" class="mob-menu-img">
</div>