<div class="section">
  <div class="sidebar">
    <div class="charity-container">
      <div class="charity-header">
        <h2 class="charity-title">Support Ukraine</h2>
        <svg class="charity-icon" width="20" height="32">
          <use href="./img/symbol-defs.svg#icon-support-ukraine"></use>
        </svg>
      </div>
      <div class="swiper">
        <ul class="charity-list swiper-wrapper">
          <li class="charity-item swiper-slide" height="32">
            <a
              class="charity-link"
              rel="nofollow
                noreferrer
                noopener"
              target="_blank"
              href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
            >
              <img
                src="./img/support-png/1@1x.png"
                class="charity-img"
                alt=""
              />
            </a>
          </li>
          <li class="charity-item swiper-slide">
            <a
              class="charity-link"
              rel="nofollow
                noreferrer
                noopener"
              target="_blank"
              href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
            >
              <img
                src="./img/support-png/2@1x.png"
                class="charity-img"
                alt=""
              />
            </a>
          </li>
          <li class="charity-item swiper-slide">
            <a
              class="charity-link"
              rel="nofollow
                  noreferrer
                  noopener"
              target="_blank"
              href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
            >
              <img
                src="./img/support-png/3@1x.png"
                class="charity-img"
                alt=""
              />
            </a>
          </li>
          <li class="charity-item swiper-slide">
            <a
              class="charity-link"
              rel="nofollow
                noreferrer
                noopener"
              target="_blank"
              href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
            >
              <img
                src="./img/support-png/4@1x.png"
                class="charity-img"
                alt=""
              />
            </a>
          </li>
          <li class="charity-item swiper-slide">
            <a
              class="charity-link"
              rel="nofollow
                noreferrer
                noopener"
              target="_blank"
              href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
            >
              <img
                src="./img/support-png/5@1x.png"
                class="charity-img"
                alt=""
              />
            </a>
          </li>
          <li class="charity-item swiper-slide">
            <a
              class="charity-link"
              rel="nofollow
                noreferrer
                noopener"
              target="_blank"
              href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
            >
              <img
                src="./img/support-png/6@1x.png"
                class="charity-img"
                alt=""
              />
            </a>
          </li>
          <li class="charity-item swiper-slide">
            <a
              class="charity-link"
              rel="nofollow
                noreferrer
                noopener"
              target="_blank"
              href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
            >
              <img
                src="./img/support-png/7@1x.png"
                class="charity-img"
                alt=""
              />
            </a>
          </li>
          <li class="charity-item swiper-slide">
            <a
              class="charity-link"
              rel="nofollow
                noreferrer
                noopener"
              target="_blank"
              href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
            >
              <img
                src="./img/support-png/8@1x.png"
                alt=""
                class="charity-img"
              />
            </a>
          </li>
          <li class="charity-item swiper-slide">
            <a
              class="charity-link"
              rel="nofollow
                noreferrer
                noopener"
              target="_blank"
              href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
            >
              <img
                src="./img/support-png/9@1x.png"
                class="charity-img"
                alt=""
              />
            </a>
          </li>
        </ul>
        <button class="swiper-button-next">
          <svg width="20" height="20">
            <use
              class="swiper-button-next-icon"
              xlink:href="./img/symbol-defs.svg#icon-arrow-back"
            ></use>
          </svg>
        </button>
        <button class="swiper-button-up is-hidden">
          <svg width="20" height="20">
            <use
              class="swiper-button-up-icon"
              xlink:href="./img/symbol-defs.svg#icon-arrow-back"
            ></use>
          </svg>
        </button>
      </div>

      <script type="module" src="./index.js"></script>
    </div>
  </div>
</div>
