<div class="charity-box">
  <div class="charity-header">
    <h2 class="charity-title">Support Ukraine</h2>
    <svg class="charity-icon" width="20" height="32">
      <use href="./img/symbol-defs.svg#icon-support-ukraine"></use>
    </svg>
  </div>
  <div class="swiper">
    <ul class="swiper-wrapper"></ul>
    <button class="swiper-button-next">
      <svg width="20" height="20">
        <use
          class="swiper-button-next-icon"
          href="./img/symbol-defs.svg#icon-arrow-back"
        ></use>
      </svg>
    </button>
    <button class="swiper-button-up is-hidden">
      <svg width="20" height="20">
        <use
          class="swiper-button-up-icon"
          href="./img/symbol-defs.svg#icon-arrow-back"
        ></use>
      </svg>
    </button>
  </div>
</div>
