/* Base styles */
@font-face {
  font-family: DMSans-400;
  src: url(../fonts/DMSans-Regular.ttf);
}

@font-face {
  font-family: DMSans-400-italic;
  src: url(../fonts/DMSans-Italic.ttf);
}

@font-face {
  font-family: DMSans-500;
  src: url(../fonts/DMSans-Medium.ttf);
}

@font-face {
  font-family: DMSans-700;
  src: url(../fonts/DMSans-Bold.ttf);
}

:root[data-theme="light"] {
  /* COLORS */
  --deep-black: #111111;
  --soft-black: #202024;
  --purple: #4F2EE8;
  --yellow: #EAC645;
  --white: #ffffff;  
  --backdrop-color: #11111166;
  --purple-gradient: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
  --switch-circle-pos: 2px;
  --theme-switcher-gradient: linear-gradient(#4f2ee8, #fff);
}

:root[data-theme="dark"] {
  /* COLORS */
  --deep-black: #ffffff;
  --soft-black: #202024;
  --purple: #EAC645;
  --yellow: #4F2EE8;
  --white: #202024;  
  --backdrop-color: #11111166;
  --purple-gradient: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
  --switch-circle-pos: 17px;
  --theme-switcher-gradient: linear-gradient(180deg, #4F2EE8 0%, #686868 100%);

}

:root{
 /* FONTS */
 --regular: font-weight: 400;
 --medium: font-weight: 500;
 --bold: font-weight: 700;
   /* ANIMATIONS */
   --function-duration: 350ms;
   --function-timing: cubic-bezier(0.4, 0, 0.2, 1);
}
