.book-image {
  border-radius: 8px;
  margin-bottom: 14px;
}

.section-heading {
  font-family: DMSans-700;
  margin-bottom: 40px;
  display: block;
  font-size: 32px;
  line-height: 1.2;
}

.book-card {
  display: flex;
  flex-direction: column;
}

.category-heading {
  display: block;
  font-family: DMSans-400;
  font-size: 14px;
  font-weight: var(--regular);
  line-height: 1.3;
  margin-bottom: 40px;
}
@media screen and (min-width: 375px) {
  .book-card:not(:first-child) {
    display: none;
  }
  .category-block {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .book-list {
    max-width: 335px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.book-title {
  margin-bottom: 4px;
  font-family: DMSans-700;
  font-size: 16px;
  line-height: 1.1;
}
.book-author {
  margin-bottom: 8px;
  font-family: DMSans-400;
  font-size: 12px;
  font-style: italic;
  line-height: 1.2;
}

.see-more {
  padding: 14px 28px 14px 28px;
  border-radius: 40px;
  border: 2px;
  font-family: DMSans-700;
  font-size: 14px;
  line-height: 1.3;
  border: 2px solid #4f2ee8;
}

@media screen and (min-width: 768px) {
  .book-card:nth-child(-n + 3) {
    display: block;
    width: 30%;
  }
  .card {
    display: block;
    width: 30%;
  }
  .book-list {
    max-width: 704px;
  }
  .category-block,
  .test {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    gap: 25px;
  }

  .book-image {
    width: 218px;
    height: 316px;
  }
}

@media screen and (min-width: 1440px) {
  .book-card:nth-child(-n + 5) {
    display: block;
    width: 18%;
  }

  .card {
    width: 18%;
  }

  .category-block,
  .test {
    gap: 24px;
  }

  .book-list {
    max-width: 996px;
  }
}
.book-list {
  font-family: DMSans-400;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-align: left;
}

.books-design {
  color: var(--purple);
}
