.sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.main-section-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-section {
  max-width: 100%;
  padding-top: 40px;
  padding-bottom: 80px;
  margin: 0 auto;
}

.section-container {
  max-width: 375px;
  padding-inline: 20px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (max-width: 375px) {
  .section-container {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .section-container {
    max-width: 768px;
    gap: 100px;
  }

  .sidebar {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  .main-section {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .section-container {
    max-width: 1440px;
    flex-direction: row;
    gap: 40px;
  }

  .sidebar {
    flex-direction: column;
    justify-content: flex-start;
    gap: 86px;
  }
}
