.shopping-list-container {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 100px;
}

.body-shopping-list {
  background: var(--backdrop-color-sl);
}

.shopping-title {
  display: block;
  margin-left: 20px;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.04em;
  text-align: left;
  color: var(--deep-black);
}

.sl-title {
  color: #4f2ee8;
}

.shopping-text-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-text {
  width: 244px;
  height: 36px;
  margin-top: 120px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--shopping-list-text-color);
}

.shopping-img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
  /* margin-bottom: 302px; */
}

.sl-img {
  width: 265px;
  height: 198px;
}

/* ///BOOK_CARD/// */

.book-card-container {
  width: 100%;
  padding-inline: 20px;
}

.sl-book-card {
  margin-top: 40px;
  /* margin-left: 14px; */
  margin-bottom: 20px;
  width: 100%;

  height: 170px;
  display: flex;
  align-items: center;
  padding: 14px;

  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  background-color: var(--bookcard-backdrop-color);
  position: relative;
}

.sl-book-card:not(:last-child) {
  margin-bottom: 20px;
}

/* .sl-book-image-wrap {
  margin-left: 14px;
} */

.sl-book-image-wrap {
  flex-shrink: 0;
}

.sl-book-image {
  /* width: 100px; */
  width: 100%;
  height: 142px;
}

.sl-book-details {
  width: 100%;
  margin-left: 14px;
}

.sl-book-title {
  font-size: 11px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
  text-transform: uppercase;
  color: var(--deep-black);
}

.sl-book-category {
  margin-top: 4px;
  color: #b4afaf;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-align: left;
}

.sl-book-description {
  display: flex;
  width: 100%;
  max-height: 68px;
  flex-direction: column;
  margin-top: 8px;
  overflow: auto;
  color: var(--deep-black);
  text-overflow: ellipsis;
  font-style: normal;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
}

.sl-author-wrap {
  display: flex;
  justify-content: space-between;
  gap: 22px;
}

.sl-book-author {
  margin-top: 14px;
  color: #b4afaf;
  font-size: 10px;
  font-style: italic;
  line-height: 11px;
  letter-spacing: -0.02em;
  text-align: left;
}

.sl-book-buy-link {
  margin-top: 14px;
  gap: 8px;
  display: flex;
  align-items: center;
}

.sl-link-img {
  margin-top: 19px;
  display: block;
  height: 11px;
}

.sl-link-img-amazon {
  width: 32px;
  height: 11px;
  filter: grayscale(1);
}

.sl-link-img-2 {
  width: 16px;
  height: 16px;
  filter: grayscale(1);
}

.sl-link-img-3 {
  width: 16px;
  height: 16px;
  filter: grayscale(1);
}

.sl-book-links {
  margin-top: 42px;
}

.sl-book-cart-button {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  background: #4f2ee8;
  color: #fff;
  border: none;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sl-book-cart-button-icon {
  width: 12px;
  height: 12px;
  top: 2px;
  left: 2px;
}
/* ///BOOK_CARD/// */

@media screen and (min-width: 375px) {
  .sl-book-title {
    font-size: 16px;
  }

  .sl-book-category {
    font-size: 12px;
  }

  .sl-book-description {
    font-size: 14px;
  }

  .sl-book-author {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.04em;
  }
}

@media screen and (min-width: 768px) {
  .shopping-list-container {
    width: 768px;
    margin: 0 auto;
  }

  .shopping-title {
    margin-left: 32px;
    font-size: 48px;
    line-height: 52px;
  }

  .shopping-text {
    width: 349px;
    height: 48px;
    margin-top: 140px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
  }

  .shopping-img-wrap {
    margin-top: 20px;
    /* margin-bottom: 394px; */
  }

  .shopping-list-container {
    padding-bottom: 140px;
  }

  .shopping-img {
    width: 322px;
    height: 241px;
  }

  /* ///BOOK_CARD/// */
  .book-card-container {
    padding-inline: 32px;
  }

  .sl-book-card {
    height: 213px;
    padding: 24px 24px;
  }

  .sl-book-image {
    height: 165px;
  }

  .sl-book-details {
    margin-left: 24px;
  }

  .sl-book-description {
    margin-top: 14px;
    height: 53px;
  }

  .sl-author-wrap {
    gap: 32px;
  }

  .sl-book-author {
    margin-top: 48px;
    font-size: 12px;
  }

  .sl-book-buy-link {
    margin-top: 32px;
    gap: 16px;
  }

  .sl-link-img-amazon {
    width: 48px;
    height: 15px;
    filter: var(--book-card-filter);
  }

  .sl-link-img-2 {
    width: 28px;
    height: 27px;
  }

  .sl-link-img-3 {
    width: 32px;
    height: 30px;
  }

  .sl-book-cart-button {
    position: absolute;
    top: 24px;
    right: 24px;
  }
  /* ///BOOK_CARD/// */
}

@media screen and (min-width: 1440px) {
  .shopping-list-container {
    width: 1440px;
  }

  .visually-hidden {
    position: static;
    height: auto;
    overflow: visible;
    clip-path: none;
    margin-top: 40px;
  }

  .shopping-title {
    margin-left: 395px;
  }

  .shopping-text {
    margin-left: 735px;
  }

  .shopping-img-wrap {
    /* margin-bottom: 157px; */
    margin-left: 749px;
  }

  /* .shopping-list-wrap {
    padding-bottom: 180px;
  } */

  .support-sl,
  .shopping-list-wrap {
    display: inline-block;
    vertical-align: top;
  }

  .support-sl {
    margin-left: 24px;
  }

  /* ///BOOK_CARD/// */
  .sl-book-card {
    width: 986px;
    margin-left: 360px;
  }
  /* ///BOOK_CARD/// */
}
