.profile-button {
  text-align: left;
  width: 184px;
  display: flex;
  align-items: center;
  border-radius: 18px;
  padding: 15px 14px;
  border: 1.5px solid #111;
}

.profile-button.auth {
  border: none;
  padding: 4px 12px;
}

.profile-button__img {
  width: 37px;
  height: 37px;
  border-radius: 100%;
  background-color: white;
}

.profile-button__text {
  flex: 1;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.profile-button__text.auth {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.44px;
  flex: 1;
  margin-left: 9px;
  margin-right: 4px;
}

.profile-button__icon {
  max-height: 20px;
}

.profile-button__icon.auth {
  max-height: auto;
}

@media screen and (min-width: 768px) {
  .profile-button {
    background: #4f2ee8;
  }
}
